.dropdown-toggle,
.dropdown-menu {
  width: 100%;
  background-color: white !important;
  color: black !important;
  border-color: green !important;
}

/* .is-valid {
  width: 100%;
  background-color: white !important;
  color: black !important;
  border-color: green !important;
} */

/* .dropdown.dropdown-toggle {
  background-color: white !important;
} */
